.container-fluid {
    width: 100%;
  }
  
  .slider-container {
    width: 100%;
   
  }
  
  .carrucel {
    margin-top: 90px;
    width: 100%;  
  }
  
  .carr {
    padding-left: 0%;
    width: 100%;
    height: 550px;
    
  }
  /* RESPONSIVE - Ajuste para pantallas pequeñas */
  @media (max-width: 768px) {
    .carrucel {
      width: 100%;
      margin-top: 130px;
      
    }
    .slider-container{
      width: 100%;
    }
    .carr {
      height: 300px;
      width: 100%;
    }
  }
  