.footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer-section a {
    color: #25D366; /* Color verde de WhatsApp */
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h3 {
    margin-top: 0;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #ecf0f1;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .newsletter-form button {
    padding: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .newsletter-form button:hover {
    background-color: #2980b9;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #34495e;
    padding-top: 10px;
  }
  .social-links {
    margin: 10px 0;
  }
  .social-links a {
    color: #ecf0f1;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .social-links a:hover {
    color: inherit; /* Mantén el color del icono en hover */
  }
  
  /* Colores específicos para cada red social */
  .social-links a.facebook:hover {
    color: #1877F2; /* Azul de Facebook */
  }
  
  .social-links a.twitter:hover {
    color: #1DA1F2; /* Azul claro de Twitter */
  }
  
  .social-links a.instagram:hover {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  
  }
  
  .social-links a.whatsapp:hover {
    color: #25D366; /* Verde de WhatsApp */
  }


 /* Estilos para los métodos de pago */
.payment-methods {
    margin-top: 20px;
  }
  
  .payment-methods h3 {
    margin-bottom: 10px;
  }
  
  .payment-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .payment-icons svg {
    font-size: 60px; /* Tamaño más grande para los iconos */
    color: white;
  }
  
  .payment-icons .paypal {
    color: #003087; /* Azul de PayPal */
    
  }
  
  .payment-icons .visa {
    color: #1A1F71; /* Azul oscuro de Visa */
  }
  
  .payment-icons .mastercard {
    color: #FF5F00; /* Naranja de MasterCard */
  }
  
  .payment-icons .americanexpress {
    color: #0D5EAF; /* Azul de American Express */
    background: white;
  }
  
  

  .payment-icons .mastercard:hover{
    transform: scale(1.15);
  }
  .payment-icons .americanexpress:hover{
    transform: scale(1.15);
  }
  .payment-icons .paypal:hover{
    transform: scale(1.15);
  }
  .payment-icons .visa:hover{
    transform: scale(1.15);
    
    
  }
